body{
    padding: 0;
    margin: 0;
}
.bg_primary{
    background-color: #005836;
    color : white;
}
.header{
    padding: 5px;
}
.site_logo_wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    color: white;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
  }
  .grid-item {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    flex-grow: 1;
    padding: 0;
    border: 2px solid transparent; /* Set the border to transparent initially */
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better visibility */
    outline: none; /* Remove the border outline on focus */
    transition: border 0.3s; /* Smooth transition for border color */
    background-color: transparent; /* Make the background transparent */
    color: white;
}


/* Style the search box when focused */
.search-box:focus {
    border-color: #005836; /* Set the border color to your desired color on focus */
}

/* Style the placeholder text inside the search box */
.search-box::placeholder {
    color: white;
}